body {
  display: flex;
  border: 1px solid green;
  height: 100vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.cal-body {
  display: flex;
  /* margin: auto; */
  height: 500px;
  width: 350px;
  border: 1px solid red;
  flex-wrap: wrap;
}

.screen {
  display: flex;
  width: 100%;
  height: 15%;
  border: 1px solid darkblue;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}

.digits {
  width: 100%;
  height: 90%;
  border: 1px solid gold;
}

.screen p {
  display: flex;
  border: 1px solid peachpuff;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  /* text-align: end; */
  /* text-align: center; */
}
